html {
	background-image: url("./art/bg.png");
	background-repeat: repeat;
}

body {
	font-family: MS UI Gothic;
	font-size: 16px;
	padding: 8px 16px;
	max-width: 792px;
}

pre {
	font-family: MS UI Gothic;
	font-size: 16px;
}

textarea {
	resize: none;
	font-family: MS UI Gothic;
	font-size: 16px;
	width: 100%;
}

a {
	color: black;
}

.new {
	color: red;
}

.hidden {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hidden a {
	text-decoration: none;
}

/* TOP */

body > h1:nth-child(1) {
	margin-top: 0;
	margin-bottom: 15px;
	
	font-family: Georgia;
	font-style: italic;
	font-weight: normal;
	font-size: 52px;
	letter-spacing: -2px;
	text-shadow: #fff 0 0 10px;
	
	background: linear-gradient(to right, #05fc91 0%, #05dbfc 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	user-select: none;
}


.top_works {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -20px;
}

.top_works div {
	margin-right: 10px;
	margin-bottom: 20px;
}

.top_works img {
	width: 180px;
}

/* BMS */

.bms_entry {
	margin-bottom: 16px;
}

.bms_entry .details {
	padding-left: 10px;
}

/* SABUN */

a.dl {
	color: blue;
}

.favourite_sabun {
	color: green;
}

/* MP3 */

table.mp3table {
}

.mp3table > tbody > tr > td:nth-child(1) {
	text-align: center;
	width: 50px;
}

.mp3table > tbody > tr > td:nth-child(2) {
	padding-left: 10px;
	padding-right: 30px;
}

.mp3table > tbody > tr > td:nth-child(3) {
	text-align: center;
}

audio {
	height: 18px;
	width: 200px;
	margin-left: 20px;
	margin-right: 20px;
}

/* MISC */

.misc_list {
	list-style: square;
	margin-left: -24px;
}